<div class="navbar">

    <div  style="margin-left: 35px;" class="hamburger-icon">
        <mat-icon (click)="onClick()" style="color: white;margin-right: 20px;">reorder</mat-icon>
        <span style="color: white;" class="material-icons">
            home
            </span>
            <!-- <a href="#" data-toggle="modal" data-target="#myModal">Open</a> -->
    </div>

    <div style="position: relative;margin-left: auto;margin-right: auto;color: white;font-size: 25px;">
        To-Do List App
    </div>

    <div style="align-self: flex-end;margin-right: 40px;">
        <mat-icon style="color: white;" (click)="handleAnchor()">note_add</mat-icon>
    </div>
</div>>
